<div id="advanced_search_container">
	<%if params.nil? or params.empty? %>
		<h2 class="typeface-js">Advanced Search</h2>
		<% form_tag advanced_search_listings_path, :id => "search_mls_form" do %>
			<fieldset>
				<input class="typeface-js" type="submit" name="searchSubmit" value="Search" />
				<input class="typeface-js" type="submit" name="searchReset" value="Reset" onclick="resetSearchFields(); return false;" />
			</fieldset>
		<% end %>
	<% else %>
		<h2 class="typeface-js">Advanced Search Results</h2>
		Display iframe with search results here.
	<% end %>
</div>
