<div id="account_recovery_container">
	<h2 class="typeface-js">Account Recovery</h2>
	<p>
		If you have forgotten your password, enter your name below and click the "Recover My Account" button.
	</p>
	<p>
		An email will be sent with a link to your address on record. Click this link to login and change your password.
	</p>
	<p>
		The link given will no longer function after your password is changed.
	</p>
	<% form_tag recover_people_path, :method => :post, :id => "account_recovery" do %>
		<fieldset>
			<p>
				<label for="person_name">Name:</label>
				<%= text_field_tag :name, nil, :class => "account_recovery_text_input" %>
			</p>
			<%= submit_tag "Recover My Account", :class => "submit" %>
		</fieldset>
	<% end %>
</div>

