<h2>Import Listing</h2>
<p>
	Enter a valid MLS number to import the information into the database.
</p>
<% form_tag import_admin_listings_path, :id => "listings_import_form" do %>
	<fieldset>
		<p>
			<label for="listing_mls_number">MLS Number:</label>
			<%= text_field_tag "mls_number", nil, :class => "text_input medium_input" %>
		</p>

		<p>
			<label for="listing_import_pictures">Import all listing pictures: <%= check_box_tag "listing_import_pictures" %></label>
		</p>

		<%= submit_tag "Import from MLS", :class => "submit", :id => "import_button" %>
	</fieldset>
<% end %>
<%= render :partial => "form", :locals => { :legend => @page_title } %>
