@charset "utf-8";

/* Begin Link/Button Outline Reset */

a:focus {
	outline: none;
}

button::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
    border: solid 1px transparent;
}

input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
input[type="file"] > intput[type="button"]:focus {
	outline: none;
}

/* End Link/Button Outline Reset */

/* Begin General Styles */

* {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-text-size-adjust: none;
	-webkit-touch-callout: none;
}

html, body {
	color: #333333;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 1.6;
}

ul, ol {
	margin: 0;
	padding: 0;
}

ul li, ol li {
	margin: 0;
	padding: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.left {
	text-align: left;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.fleft {
	float: left;
}

.fright {
	float: right;
}

body.up table td.showonlyland, body.up table th.showonlyland {
	display: none;
}

body.land table td.showonlyland, body.land table th.showonlyland {
	display: table-cell;
}

body.up td.showonlyup, body.up th.showonlyup {
	display: table-cell;
}

body.land td.showonlyup, body.up th.showonlyup {
	display: none;
}

body.up .showonlyland {
	display: none;
}

body.land .showonlyland {
	display: block;
}

body.up .showonlyup {
	display: block;
}

body.land .showonlyup {
	display: none;
}

body.up span.showonlyland, body.up a.showonlyland {
	display: none;
}

body.land span.showonlyland, body.land a.showonlyland {
	display: inline;
}

body.up span.showonlyup, body.up a.showonlyup {
	display: inline;
}

body.land span.showonlyup,body.land a.showonlyup {
	display: none;
}

/* End General Styles */

/* Begin Body Styles */

body {
	background: #ffffff;
}

#page {
	background: f0f0f0;
	margin: 0 auto;
	width: 704px;
}

/* End Body Styles */

/* Begin AJAX Loading Div */

#ajax-loading {
	display: none;
	height: 100%;
	padding-top: 400px;
	text-align: center;
	width: 100%;
}

/* End AJAX Loading Div */

/* Begin Header */

header {
	background: #666666;
	background: -webkit-gradient(linear, left top, left bottom, from(#666666), to(#333333));
	background: -moz-linear-gradient(top, #666666, #333333);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#333333');
	color: #ffffff;
	font-size: 20px;
	font-weight: bold;
	height: 50px;
	line-height: 50px;
	position: relative;
	text-align: center;
	text-shadow: 0 1px 1px #000000;
}

header div#home-link {
	float: left;
	margin-left: 10px;
	margin-top: 10px;
	width: 26px;
}

header h1 {
	float: left;
	width: 632px;
}

header div#logout-link {
	float: left;
	margin-right: 10px;
	margin-top: 10px;
	width: 26px;
}

/* End Header */

/* Begin Content */

#content {
	margin: 0 auto;
	width: 95%;
}

/* End Content */

/* Begin Footer */

footer p {
	font-size: 9px;
	text-align: center;
}

/* End Footer */

/* Begin Notifications */

.notification {
	clear: both;
	cursor: pointer;
	font-size: 12px;
	min-height: 40px;
	margin-bottom: 20px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 20px;
	overflow: hidden;
	padding-bottom: 15px;
	padding-left: 65px;
	padding-right: 30px;
	padding-top: 15px;
	position: relative;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.notification p {
	color: #333333;
	line-height: 40px;
}

.attention {
	background-color: #ffdb91;
	background-image: url("../images/notifications/attention.png");
	background-position: 15px center;
	background-repeat: no-repeat;
	border: 2px solid #ffc44a;
}

.success {
	background-color: #e2ff7d;
	background-image: url("../images/notifications/success.png");
	background-position: 15px center;
	background-repeat: no-repeat;
	border: 2px solid #99C600;
}

.error {
	background-color: #f5b5a9;
	background-image: url("../images/notifications/error.png");
	background-position: 15px center;
	background-repeat: no-repeat;
	border: 2px solid #eb5339;
}

.information {
	background-color: #b3cfea;
	background-image: url("../images/notifications/information.png");
	background-position: 15px center;
	background-repeat: no-repeat;
	border: 2px solid #418ACC;
}

.lightbulb {
	background-color: #feefcb;
	background-image: url("../images/notifications/lightbulb.png");
	background-position: 15px center;
	background-repeat: no-repeat;
	border: 2px solid #d3a350;
}

/* End Notifications */

/* Begin Index Navigation */

nav {
	margin: 0 auto;
	overflow: hidden;
	width: 630px;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav ul li {
	float: left;
	margin: 5px;
	padding: 0;
}

nav ul li a {
	background: #eeeeee;
	background: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#cccccc));
	background: -moz-linear-gradient(top, #eeeeee, #cccccc);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#cccccc');
	color: #333333;
	cursor: pointer;
	display: block;
	height: 200px;
	text-shadow: 0 1px 1px #ffffff;
	width: 200px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

nav ul li a:hover {
	background: #95d7ef;
	background: -webkit-gradient(linear, left top, left bottom, from(#95d7ef), to(#59c8ef));
	background: -moz-linear-gradient(top, #95d7ef, #59c8ef);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#95d7ef', endColorstr='#59c8ef');
	color: #ffffff;
	text-decoration: none;
	text-shadow: 0 1px 1px #000000;
}

nav ul li a .image {
	height: 155px;
	text-align: center;
}

nav ul li a .image img {
	margin: 14px 0 0 0;
}

nav ul li a .title {
	font-size: 13px;
	font-weight: bold;
	height: 25px;
	line-height: 13px;
	text-align: center;
}

/*body.land nav ul li a {
	width:143px
}*/

/* End Index Navigation */

/* Begin Screen Size Dependent Styles */

@media screen and (min-width: 960px){
	#page {
		margin: 0 auto;
		width: 960px;
	}

	header h1 {
		float: left;
		width: 888px;
	}

	nav {
		width: 840px !important;
	}

	/*nav ul li a {
		width: 300px !important;
		height: 300px !important;
	}*/
}

/*@media screen and (max-width: 320px){
	#page {
		margin: 0 auto;
		width: 320px;
	}

	header h1 {
		float: left;
		width: 228px;
	}
}*/

/* End Screen Size Dependent Styles */

/* Begin Forms */

form input {
	width:90%;
	font-size:18px;
	height:40px;
	line-height:40px;
	margin:5px 0;
	border:1px solid #999;
	padding:0 10px
}

form input[type=checkbox] {
	width:30px;
	height:30px
}

form label {
	display:block;
	margin:5px 0 5px -2px;
	padding:5px 0;
	font-weight:bold;
	border-bottom:1px solid #F6F6F6
}

form select {
	width:90%;
	font-size:18px;
	margin:5px 0;
	border:1px solid #999;
	padding:10px 0 10px 10px
}

form textarea {
	width:90%;
	display:block;
	border:1px solid #999;
	font-family:Arial,Helvetica,sans-serif;
	padding:10px;
	font-size:18px
}

form input.username,form input.password,form input.email,form input.search,form input.favorite,form input.other {
	padding:0 10px 0 50px;
	width:77%
}

form input.username {
	background:#FFF url('../img/input-username.png') left center no-repeat
}

form input.password {
	background:#FFF url('../img/input-password.png') left center no-repeat
}

form input.email {
	background:#FFF url('../img/input-email.png') left center no-repeat
}

form input.search {
	background:#FFF url('../img/input-search.png') left center no-repeat
}

form input.favorite {
	background:#FFF url('../img/input-favorite.png') left center no-repeat
}

form input.other {
	background:#FFF url('../img/input-other.png') left center no-repeat
}

form input.ok {
	border-color:#8EC46C;
	background:#DFF2BF url('../img/icon-ok.png') right center no-repeat;
	padding:0 50px 0 10px;
	width:77%
}

form input.error {
	border-color:#DF7D86;
	background:#FFCFCF url('../img/icon-bad.png') right center no-repeat;
	padding:0 50px 0 10px;
	width:77%
}

form button,form input[type=submit] {
	width:auto;
	height:auto;
	line-height:normal;
	font-size:18px;
	margin:0 2px;
	cursor:pointer;
	text-align:center;
	padding:3px 12px;
	margin:5px 5px 5px 0;
	color:#FFF;
	text-shadow:0 1px 1px #333;
	-webkit-box-shadow:0 1px 2px #555;
	-moz-box-shadow:0 1px 2px #555;
	box-shadow:0 1px 2px #555;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	display:inline
}

form .gray,form input[type=submit].gray {
	text-shadow:0 1px 1px #FFF;
	color:#666;
	border:1px solid #CCC;
	background:#FFF;
	background:-webkit-gradient(linear,left top,left bottom,from(#FFF),to(#EEE));
	background:-moz-linear-gradient(top,#FFF,#EEE);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF',endColorstr='#EEE')
}

form .gray:hover,form input[type=submit].gray:hover {
	background:#EEE;
	background:-webkit-gradient(linear,left top,left bottom,from(#FFF),to(#DDD));
	background:-moz-linear-gradient(top,#FFF,#DDD);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF',endColorstr='#DDD')
}

form button,form input[type=submit],form .blue {
	border:1px solid #007BBF;
	background:#59C8EF;
	background:-webkit-gradient(linear,left top,left bottom,from(#59C8EF),to(#00A5DF));
	background:-moz-linear-gradient(top,#59C8EF,#00A5DF);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#59C8EF',endColorstr='#00A5DF')
}

form button:hover,form input[type=submit]:hover,form .blue:hover {
	background:#53ADDF;
	background:-webkit-gradient(linear,left top,left bottom,from(#53ADDF),to(#2388BF));
	background:-moz-linear-gradient(top,#53ADDF,#2388BF);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#53ADDF',endColorstr='#2388BF')
}

/* End Forms */

/* Begin Agent Resources Index */

div.agent-resource {
	background: #eeeeee;
	background: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#cccccc));
	background: -moz-linear-gradient(top, #eeeeee, #cccccc);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#cccccc');
	color: #333333;
	cursor: pointer;
	margin: 15px auto;
	overflow: hidden;
	text-shadow: 0 1px 1px #ffffff;
	width: 95%;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

div.agent-resource div.agent-resource-download-link {
	background: #95d7ef;
	background: -webkit-gradient(linear, left top, left bottom, from(#95d7ef), to(#59c8ef));
	background: -moz-linear-gradient(top, #95d7ef, #59c8ef);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#95d7ef', endColorstr='#59c8ef');
	float: left;
	margin: 5px;
	padding: 5px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

div.agent-resource div.agent-resource-info div.agent-resource-name {
	font-size: 24px;
	font-weight: bold;
}

/* End Agent Resources Index */

/* Begin Designations Selector */

div#designations_selector {
	border: 1px solid #999999;
	overflow: hidden;
	padding: 4px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

div#designations_selector img {
	height: 36px;
}

div.designation {
	border: 1px solid #999999;
	float: left;
	height: 140px;
	margin: 6px;
	padding: 5px;
	text-align: center;
	width: 140px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

/* End Designation Selector */
