@charset "utf-8";

#featured_listing_slide {
	height: 300px;
	width: 700px;
}


/*#featured_listings_slideshow {
	height: 263px;
	margin: 0 auto;
	position: relative;
	width: 700px;
}

#featured_listings_slideshow #featured_listing_slides_container {
	height: 263px;
	margin: 0 auto;
	overflow: auto;
	position: relative;
	width: 620px;
}

.featured_listing_slide {
	background: #51485a;
    background: -moz-linear-gradient(top, #51485a, #121212);
    background: -webkit-gradient(linear, left top, left bottom, from(#51485a), to(#121212));
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#51485a', EndColorStr='#121212', GradientType=0);
}

#featured_listings_slideshow #featured_listing_slides_container .featured_listing_slide {
	height: 263px;
	margin: 0 auto;
	width: 600px;
}

.control {
	cursor: pointer;
	display: block;
	height: 263px;
	position: absolute;
	text-indent: -10000px;
	width: 39px;
}

#leftControl {
	background:transparent url('../images/arrow-left.png') no-repeat 0 0;
	left:0;
	top:0;
}

#rightControl {
	background:transparent url('../images/arrow-right.png') no-repeat 0 0;
	right:0;
	top:0;
}*/


/*#featured_listings_slideshow #featured_listing_slides_container {
	height: 263px;
	margin: 0 auto;
	overflow: auto;
	position: relative;
	width: 700px;
}

#featured_listings_slideshow #featured_listing_slides_container .featured_listing_slide {
	height: 263px;
	margin: 0 auto;
	width: 680px;
}

.featured_listings_control {
	cursor: pointer;
	display: block;
	height: 263px;
	position: absolute;
	text-indent: -10000px;
	width: 39px;
}

#featured_listing_slide_inner {
background: #ff0000;
}

#featured_listings_left_control {
	background: transparent url('../images/arrow-left.png') no-repeat 0 0;
	left: 0;
	top: 0;
}

#featured_listings_right_control {
	background: transparent url('../images/arrow-right.png') no-repeat 0 0;
	right: 0;
	top: 0;
}
*/
